body {
color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

h1 {
color: Teal;
font-size: 5.625rem;
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
}

h2 {
padding-bottom: 10px;
color: Teal;
margin: 16px auto;
font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
}

h3 {
color: #11999E;
font-family: 'Montserrat', sans-serif;
}

hr {
margin: 100px auto;
width: 20%;
border-style: none;
border-top-style: dotted;
border-color: gray;
border-width: 5px;
}

a {
font-size: 0.9rem;
font-family: 'Montserrat', sans-serif;
color: PaleTurquoise;
padding: 10px 20px;
text-decoration: none;
}

a:hover {
color: black;
}

.top-container {
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
padding: 50px 0 20px;
background-color: DarkCyan;
}

.top-cloud {
position: absolute;
right: 300px;
top: 40px;
}

.bottom-cloud {
position: absolute;
left: 200px;
bottom: 300px;
}

.skill-row {
text-align: left;
line-height: 2;
margin: 100px auto;
width: 50%;
}

.computer_img {
width: 25%;
float: left;
margin-right: 30px;
}

.coffee_img {
width: 25%;
float: right;
margin-left: 30px;
}

.profile_pic {
position: fixed;
left: 10px;
top: 10px;
width: 10%;
border-radius: 100%;
}

.profile_pic:hover {
width: 25%
}

.cartoon_profile_pic {
width: 15%;
border-radius: 100%;
}

.sum_up {
line-height: 1.5;
margin-bottom: 80px;
}

.btn {
background: #11cdd4;
background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: 'Montserrat', sans-serif;
color: #ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}

.My_right {
font-size: 0.4rem;
margin: 20px auto 0;
color: #EAF6F6;
}

